# Klasifikasi Berat Badan dan Tinggi Badan

In [113]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [114]:
df2 = pd.read_excel("https://github.com/ruhe09/tugas/blob/tugas_sql/weight-height.xlsx?raw=true")
new_header = ['Gender,Weight,Height'] 
df=df2.to_csv('perbarui.csv', header=new_header,index=False,sep=';')

In [115]:
df2

                      Gender,"Height","Weight"
0        Male,73.847017017515,241.893563180437
1       Male,68.7819040458903,162.310472521300
2         Male,74.1101053917849,212.7408555565
3       Male,71.7309784033377,220.042470303077
4       Male,69.8817958611153,206.349800623871
...                                        ...
9995  Female,66.1726521477708,136.777454183235
9996   Female,67.067154649054,170.867905890713
9997  Female,63.8679922137577,128.475318784122
9998  Female,69.0342431307346,163.852461346571
9999  Female,61.9442458795172,113.649102675312

[10000 rows x 1 columns]

In [128]:
df2=pd.read_csv('perbarui.csv')
df2

      Gender     Weight      Height
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [138]:
df = pd.read_csv('https://github.com/ruhe09/tugas/blob/tugas_sql/dataset.csv?raw=true')
df

      Gender      Height     Weight
0       Male  241.893563  73.847017
1       Male  162.310473  68.781904
2       Male  212.740856  74.110105
3       Male  220.042470  71.730978
4       Male  206.349801  69.881796
...      ...         ...        ...
9995  Female  136.777454  66.172652
9996  Female  170.867906  67.067155
9997  Female  128.475319  63.867992
9998  Female  163.852461  69.034243
9999  Female  113.649103  61.944246

[10000 rows x 3 columns]

In [139]:
df.head()

  Gender      Height     Weight
0   Male  241.893563  73.847017
1   Male  162.310473  68.781904
2   Male  212.740856  74.110105
3   Male  220.042470  71.730978
4   Male  206.349801  69.881796

## Scaling dan Labeling Atribut

In [140]:
std_scaler = StandardScaler()
label_enc = LabelEncoder()
df.Gender = label_enc.fit_transform(df.Gender)
df.iloc[:, :-1] = std_scaler.fit_transform(df.iloc[:, :-1])

In [141]:
df.head()

   Gender    Height     Weight
0     1.0  2.505797  73.847017
1     1.0  0.027101  68.781904
2     1.0  1.597806  74.110105
3     1.0  1.825222  71.730978
4     1.0  1.398750  69.881796

In [142]:
X = df.iloc[:, :-1]
X

      Gender    Height
0        1.0  2.505797
1        1.0  0.027101
2        1.0  1.597806
3        1.0  1.825222
4        1.0  1.398750
...      ...       ...
9995    -1.0 -0.768151
9996    -1.0  0.293631
9997    -1.0 -1.026730
9998    -1.0  0.075127
9999    -1.0 -1.488507

[10000 rows x 2 columns]

In [143]:
y = df.iloc[:, -1]
y

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Weight, Length: 10000, dtype: float64

## Training Model

In [144]:
lin_regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = lin_regr.fit(X_train, y_train)

In [145]:
accuracy = model.score(X_test, y_test)

In [146]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 86.11877112595383%

## Menyimpan Model dan Scaler

In [147]:
joblib.dump((model, std_scaler), "berat_badan.pkl")

['berat_badan.pkl']